html {
  background: purple;
}

body {
  background: #6260d2;
  width: 500px;
  padding: 30px 75px;
  text-align: center;
  margin: 0px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 150px;
  transform: rotate(0);
  margin: 10px;
}

#dice-display {
  background: black;
}

#dice-display,
#roll-history {
  border: 2px solid purple;
  margin: 50px;
  padding: 25px;
  width: 400px;
}

select {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

button {
  padding: 15px 20px;
  margin: 10px;
  border: 2px solid purple;
  background: purple;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

button:hover {
  background: white;
  color: purple;
}

span {
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
  display: inline-block;
}
